<head>
    <!-- Cusstom home css -->
    <link rel="stylesheet" href="stylesheets/home.css">
    <title>JChatting</title>
</head>

<div class="container marketing">

    <div class="row featurette mt-5">
        <div class="col-md-12 text-center">
            <h2 class="featurette-heading display-4"> Tu sitio de chats </h2>
            <p id="s" class="lead text-white">
                Bienvenido a Just Chatting, en nuestra web te permitimos crear conversaciones totalmente gratis y privadas<br>
                Si quieres formar parte de nosotros puedes registrarte para tener más beneficios
            </p>
            <hr />
            <a href="/user/register" class="btn btn-outline-info my-2 my-sm-0 text-white btn-lg">Registrarme</a>
        </div>
    </div>

    <hr class="featurette-divider" />
<hr class="featurette-divider" />
    <div class="row featurette">
        <div class="col-md-8 text-left">
            <h2 class="featurette-heading text-white text-center">
                Comienza tu conversación
            </h2>
            <p class="lead text-white">
                Crea una conversación para un grupo de personas que quieras con toda la libertad para hablar.
                La conversación que crees será temporal pero tendrás acceso a todas las herramientas que te proporcionamos.
            </p>
            <hr />
            <div class="d-flex justify-content-center">
            <a href="/chat/new" class="btn btn-outline-info my-2 my-sm-0 text-white">Generar chat</a>
            </div>
        </div>
        <div class="col-md-4">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                role="img" aria-label="Placeholder: 500x500">
                <image
                    href="https://images.unsplash.com/photo-1541560052-5e137f229371?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"
                    height="500" width="500" />
            </svg>
        </div>
    </div>
</div>

